body {
font-family: "Cuprum", "PT Sans", sans-serif;
margin: 0px;
background-color: #f4f8fa;
}

h1,h2,h3 {
  text-transform: uppercase;
}

section {
background-color: #ffffff;
}


a, address {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
}

fieldset {
  font-family: "PT Sans", sans;
  font-size: 15px;
  text-transform: uppercase;
}

legend {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

button {
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #ee3643;
  height: 38px;
  min-width: 197px;
  border: 0px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.aligning {
  width: 940px;
  margin-left: 130px;
  margin-right: 130px;
}

.description h3 {
  font-size: 30px;
}

.description p {
  font-size: 13px;
}

.description li {
  font-size: 18px;
}

.close-popup {
  background: url(../img/icon-close.svg) no-repeat;
}

/* Логотип компании */
.logo {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  border-bottom: 5px #b52933 solid;
}

.logo img {
  padding: 13px 55px;
}

/* Верхнее меню: Поиск, Закладки, Корзина, Оформить заказ */
.top-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  font-size: 18px;
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  padding-top: 18px;
  padding-bottom: 16px;
}


.top-header .icon-search::before {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/icon-search.svg) no-repeat;
  opacity: 0.3;
  content: "";
}

.top-header .icon-bookmarks::before {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/icon-bookmarks.svg) no-repeat;
  opacity: 0.3;
  content: "";
}

.top-header .icon-cart::before {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/icon-cart.svg) no-repeat;
  opacity: 0.3;
  content: "";
}

.order {
  width: 220px;
  min-height: 42px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 130px;
  text-align: center;
  background: #63a63e;
}


/* Шапка страницы: Слоган магазина, контакты, Личный кабинет */

.page-header {
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
padding-top: 40px;
padding-bottom: 40px;
}

.slogan {
  width: 200px;
  padding-left: 50px;
  font-style: italic;
  font-size: 16px;
  color: #ee3643;
}

.contacts-header {
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-header div{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 3px #ffffff solid;
  width: 270px;
  height: 45px;
}

.contacts-header a {
  font-size: 21px;
  color: #ee3643;
}

.contacts-header .icon-phone::before {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(../img/icon-phone.svg) no-repeat;
  content: "";
}

.contacts-header address{
  font-size: 14px;
  color: #32425c;
}

.lk {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lk-action {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lk div {
  background-color: #ffffff;
  height: 40px;

}

.lk a{
  font-size: 21px;
  color: #000000;
}

.lk .icon-user::before {
  display: inline-block;
  width: 20px;
  height: 18px;
  background: url(../img/icon-user.svg) no-repeat;
  content: "";
}

.lk .icon-login::before {
  display: inline-block;
  width: 20px;
  height: 17px;
  background: url(../img/icon-login.svg) no-repeat;
  content: "";
}

.lk .icon-logout::after {
  display: inline-block;
  width: 20px;
  height: 17px;
  background: url(../img/icon-logout.svg) no-repeat;
  content: "";
}

.lk-action a{
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

/* Хлебные крошки и Навигация по странице: Главная, Компания, Каталог, Новости, Спецпредложения, Доставка, Контакты */
.breadcrumbs {
  font-family: "PT Sans", sans;
  font-size: 13px;
margin-left: 100px;
  text-transform: uppercase;
}

.breadcrumbs a{
  color: #000000;
}

.breadcrumbs a::before{
  display: inline-block;
  width: 8px;
  height: 12px;
  background: url(../img/icon-right-small.svg) no-repeat;
  content: "";
}

.breadcrumbs .icon-home::before {
  display: inline-block;
  width: 8px;
  height: 12px;
  background: url(../img/icon-home.svg) no-repeat;
  content: "";
}

.page-nav {
  display: flex;
  background-color: #32425c;
  font-size: 17px;
  margin-left: 130px;
  margin-right: 130px;
  height: 60px;
}

.page-nav li {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
}

/* Каталог товаров */
.product-list {
  width: 740px;
}

.product-item {
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "PT Sans", sans;
  font-size: 17px;
  font-weight: bold;
}

.product-name {
  font-size: 18px;
  line-height: 20px;
}

.product-price {
  color: #ffffff;
  background-color: #ee3643;
}

.product-price-special {
  color: #999999;
  text-decoration: line-through;
}

.product-availability a{
  background: #63a63e;
}

/* Блок Контакты и карта на Главной */

.text-ul li::before{
  display: inline-block;
  width: 25px;
  height: 2px;
  vertical-align: middle;
  margin-right: 11px;
  font-size: 18px;
  background-color: #ee3643;
  content: "";
   }

.description {
  float: left;
  width: 540px;
  margin-right: 100px;
}

.page-map {
  float: right;
  width: 300px;
}

/* Подвал страницы: Навигация, Адрес, Категория товара */
.page-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #32425c;
  font-size: 18px;
  clear: both;
}



.nav-site li {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
color: #ffffff;
list-style-type: none;
}

.contacts-footer {
  font-style: normal;
  text-decoration: none;
   color: #ffffff;
}

.nav-category li {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-category a {
  color: #ffd180;
}


/* Нижний подвал: Копирайт, Соцсети, Обратная связь*/
.bottom-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 53px;
  font-size: 16px;
  color: #ffffff;
  background-color: #293449;
  background-size: 100%;
}

.bottom-footer li {
  list-style-type: none;
}

.bottom-footer a {
  color: #ffd180;
}

.copyright {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
float: left;
  width: 245px;
}

.socials ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 2;
  justify-content: space-between;
}


.icon-vk::before {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url(../img/icon-vk.svg) no-repeat;
  background-position: center;
  background-color: #212a3a;
  border-radius: 50%;
  content: "";
}

.icon-fb::before {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url(../img/icon-fb.svg) no-repeat;
  background-color: #212a3a;
  background-position: center;
  border-radius: 50%;
  content: "";
}

.icon-insta::before {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url(../img/icon-insta.svg) no-repeat;
  background-color: #212a3a;
  background-position: center;
  border-radius: 50%;
  content: "";
}
