body {
font-family: 'Cuprum', 'PT Sans', sans-serif;
background-color: #f4f8fa;
}

h1,h2,h3 {
  text-transform: uppercase;
}

a, address {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
}

section {
  background-color: #ffffff;
}

button {
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #ee3643;
  height: 38px;
  min-width: 197px;
  border: 0px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.description h3 {
  font-size: 30px;
}

.description p {
  font-size: 13px;
}

.description li {
  font-size: 18px;
}

.close-popup {
  background: url(../img/icon-close.svg) no-repeat;
}

/* Логотип компании */
.logo {
  background-color: #ee3643;
  width: 220px;
  height: 42px;
  border-bottom: 5px #b52933 solid;
}

.logo img {
  padding: 13px 55px;
}

/* Верхнее меню: Поиск, Закладки, Корзина, Оформить заказ */
.top-header {
  font-size: 18px;
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  padding-top: 18px;
  padding-bottom: 16px;
}
.top-header .icon-search::before {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/icon-search.svg) no-repeat;
  opacity: 0.3;
  content: "";
}

.top-header .icon-bookmarks::before {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/icon-bookmarks.svg) no-repeat;
  opacity: 0.3;
  content: "";
}

.top-header .icon-cart::before {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/icon-cart.svg) no-repeat;
  opacity: 0.3;
  content: "";
}

.order {
  width: 220px;
  min-height: 42px;
  text-align: center;
  background: #63a63e;
}

.order a {
  vertical-align: middle;
}

/* Шапка страницы: Описание магазина, контакты, Личный кабинет */
.slogan {
  font-style: italic;
  font-size: 16px;
  color: #ee3643;
}

/* Навигация по странице: Главная, Компания, Каталог, Новости, Спецпредложения, Доставка, Контакты */
.page-nav {
  background-color: #32425c;
  font-size: 17px;
}

.page-nav li {
  list-style-type: none;
}

/* Блок Контакты и карта */

.text-ul li::before{
  display: inline-block;
  width: 25px;
  height: 2px;
  vertical-align: middle;
  margin-right: 11px;
  font-size: 18px;
  background-color: #ee3643;
  content: "";
   }


/* Подвал страницы: Навигация, Адрес, Категория товара */
.page-footer {
  background-color: #32425c;
  font-size: 18px;
}

.nav-site li {
color: #ffffff;
list-style-type: none;
}

.footer-contacts {
  font-style: normal;
  text-decoration: none;
   color: #ffffff;
}

.nav-category a {
  color: #ffd180;
}


/* Нижний подвал: Копирайт, Соцсети, Обратная связь*/
.bottom-footer {
  font-size: 16px;
    background-color: #293449;
    min-height: 53px;
    color: #ffffff;
}

.bottom-footer li {
  list-style-type: none;
}

.bottom-footer a {
  color: #ffd180;
}

.icon-vk::before {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url(../img/icon-vk.svg) no-repeat;
  background-position: center;
  background-color: #212a3a;
  border-radius: 50%;
  content: "";
}

.icon-fb::before {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url(../img/icon-fb.svg) no-repeat;
  background-color: #212a3a;
  background-position: center;
  border-radius: 50%;
  content: "";
}

.icon-insta::before {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url(../img/icon-insta.svg) no-repeat;
  background-color: #212a3a;
  background-position: center;
  border-radius: 50%;
  content: "";
}
